@font-face {
  font-family: 'Oxygen Light';
  src: url('/fonts/Oxygen/Oxygen-Light.ttf');
}

@font-face {
  font-family: 'Oxygen Regular';
  src: url('/fonts/Oxygen/Oxygen-Regular.ttf');
}

@font-face {
  font-family: 'Oxygen Bold';
  src: url('/fonts/Oxygen/Oxygen-Bold.ttf');
}

body {
  margin: 0;
  font-family: 'Oxygen Regular', sans-serif;
}

a {
  overflow-wrap: break-word;

  &:link {
    color: hsl(211deg 64% 68%);
  }

  &:visited {
    color: hsl(263deg 64% 75%);
  }

  &:hover {
    filter: brightness(1.2);
  }

  &:active {
    filter: brightness(0.8);
  }

  &[target='_blank']::after {
    content: url('/icons/external\ link.svg');
  }
}
