.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.flex {
  display: flex;
}

.flex-item {
  flex: 1;
}

.inline-icon {
  margin-bottom: -0.5em;
  width: 2em;
}
