$red: 0;
$orange: 30;
$yellow: 60;
$green: 110;
$blue: 230;
$purple: 270;
$reflection-weak: linear-gradient(
  to bottom,
  hsl(0deg 0% 100% / 5%),
  hsl(0deg 0% 100% / 10%) 50%,
  transparent 50%
);
$reflection-moderate: linear-gradient(
  to bottom,
  hsl(0deg 0% 100% / 10%),
  hsl(0deg 0% 100% / 20%) 50%,
  transparent 50%
);
$reflection: linear-gradient(
  to bottom,
  hsl(0deg 0% 100% / 17.5%),
  hsl(0deg 0% 100% / 25%) 50%,
  transparent 50%
);
$reflection-strong: linear-gradient(
  to bottom,
  hsl(0deg 0% 100% / 25%),
  hsl(0deg 0% 100% / 50%) 50%,
  transparent 50%
);