$reflection-weak: linear-gradient(
  to bottom,
  hsl(0deg 0% 100% / 2.5%),
  hsl(0deg 0% 100% / 5%) 50%,
  transparent 50%
);
$reflection-minor: linear-gradient(
  to bottom,
  hsl(0deg 0% 100% / 5%),
  hsl(0deg 0% 100% / 10%) 50%,
  transparent 50%
);
$reflection-moderate: linear-gradient(
  to bottom,
  hsl(0deg 0% 100% / 10%),
  hsl(0deg 0% 100% / 20%) 50%,
  transparent 50%
);
$reflection-major: linear-gradient(
  to bottom,
  hsl(0deg 0% 100% / 17.5%),
  hsl(0deg 0% 100% / 25%) 50%,
  transparent 50%
);
$reflection-strong: linear-gradient(
  to bottom,
  hsl(0deg 0% 100% / 25%),
  hsl(0deg 0% 100% / 50%) 50%,
  transparent 50%
);
$textshadow-dimensions-nav: 0 1px;
$stripes: repeating-linear-gradient(
  -45deg,
  transparent,
  transparent 2px,
  hsl(0deg 0% 100% / 5%) 2px,
  hsl(0deg 0% 100% / 5%) 4px
);
