body{
    color: white;
    background-color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#bar{
    background-color: #333333;
    border-color: #757575;
    border-style: outset;
    border-width: thick;
    border-radius: 10px;
    height: 70px;
    line-height: 65px;
    padding-left: 16px;
    font-size: 18pt;
    font-weight: bold;
    text-shadow: 2px 2px 1px #725f00;
    box-shadow: 0 0 16px #AAAAAA;
}

#back{
    position: fixed;
    bottom: -5px;
    left: -5px;
    padding: 10px;
    color: white;
    font-size: 14pt;
    text-decoration: none;
    background-color: hsl(180, 100%, 27%);
    border-radius: 10px;
    border: 2.5px solid hsl(180, 100%, 14%);
    box-shadow: 0 0 16px #00BBBB;
    transition-duration: 0.5s;
}

#back:hover {
    background-color: hsl(180, 100%, 35%);
    box-shadow: 2px -2px 16px #00DDDD;
}

#back:active {
    background-color: hsl(180, 100%, 21%);
    box-shadow: 0 0 0 #000000;
    transition-duration: 0.05s;
}

#button{
    margin-left: 5%;
    height: 48px;
    width: 128px;
    color: white;
    font-size: 14pt;
    background-color: green;
    transition-duration: 0.5s;
    border-width: medium;
    border-radius: 10px;
    box-shadow: 2.5px 2.5px 5px #AAFFAA99;
}

#button:disabled{
    margin-left: 5%;
    height: 48px;
    width: 128px;
    color: white;
    font-size: 14pt;
    background-color: #404040;
    transition-duration: 0.5s;
    border-width: medium;
    border-radius: 10px;
    box-shadow: 2.5px 2.5px 5px #00000099;
}

#button:disabled:hover{
    background-color: #404040;
    box-shadow: 2.5px 2.5px 5px #00000099;
    cursor: not-allowed;
}

#button:disabled:active{
    background-color: #404040;
    box-shadow: 2.5px 2.5px 5px #00000099;
    cursor: not-allowed;
}

#button:hover{
    background-color: rgb(100, 200, 100);
    box-shadow: 5px 5px 5px #AAFFAA88;
    cursor: pointer;
}

#button:active{
    background-color: darkgreen;
    box-shadow: 0px 0px 0px #AAFFAA88;
    transition-duration: 0.05s;
}

#score{
    background-color: #FFFFFF11;
    margin-left: 5%;
    padding-left: 1%;
    padding-right: 1%;
    height: 48px;
    width: auto;
    color: white;
    font-weight: 100;
    font-size: 14pt;
    text-align: left;
    border-width: medium;
    border-radius: 10px;
}

#highscore{
    background-color: #FFFFFF11;
    float: right;
    margin: 10px 10px 10px 10px;
    padding-left: 1%;
    padding-right: 1%;
    height: 48px;
    width: auto;
    color: white;
    font-weight: 100;
    font-size: 14pt;
    text-align: left;
    border-width: medium;
    border-radius: 10px;
}

#time{
    background-color: #FFFFFF11;
    float: right;
    margin: 10px 10px 10px 10px;
    padding-left: 1%;
    padding-right: 1%;
    height: 48px;
    width: auto;
    color: white;
    font-weight: 100;
    font-size: 14pt;
    text-align: left;
    border-width: medium;
    border-radius: 10px;
}

#help{
    float: right;
    margin: 10px 10px 10px 10px;
    padding-left: 1%;
    padding-right: 1%;
    height: 48px;
    width: auto;
    color: white;
    background-color: #0039AA;
    transition-duration: 0.5s;
    font-weight: bolder;
    font-size: 24pt;
    line-height: 0;
    border-width: medium;
    border-radius: 10px;
    box-shadow: 2.5px 2.5px 2.5px #AAAAFF99;
}

#help:hover{
    background-color: #6485C8;
    box-shadow: 5px 5px 5px #AAAAFF88;
    cursor: pointer;
}

#help:active{
    background-color: #002164;
    box-shadow: 0px 0px 0px #AAAAFF88;
    transition-duration: 0.05s;
}

#lightdark{
    float: right;
    margin: 10px 20px 10px 10px;
    padding-left: 1%;
    padding-right: 1%;
    height: 48px;
    width: 70px;
    background-color: #BBBBBB;
    transition-duration: 0.5s;
    font-weight: 100;
    font-size: 24pt;
    text-align: center;
    line-height: 0;
    border-width: medium;
    border-radius: 10px;
    box-shadow: 2.5px 2.5px 2.5px #FFFFAA99;
}

#lightdark:hover{
    background-color: #FFFFFF;
    box-shadow: 5px 5px 5px #FFFFAA88;
    cursor: pointer;
}

#lightdark:active{
    background-color: #888888;
    box-shadow: 0px 0px 0px #FFFFAA88;
    transition-duration: 0.05s;
}

#playField{
    margin: 2%;
    height: 750px;
    /* border: 5px solid #FF000020; */
}

#cookie{
    cursor: pointer;
    position: absolute;
    left: 800px;
    top: 300px;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
    background: none;
    border: none;
    opacity: 1;
    animation: pulse 0.5s infinite;
}

#cookie:disabled{
    cursor: not-allowed;
    transform: none;
    animation: none;
    opacity: 0.5;
}

#cookie:disabled:hover, #cookie:disabled:active{
    cursor: not-allowed;
    transform: none;
    animation: none;
    opacity: 0.5;
}

#cookieImg{
    height: 256px;
    user-select: none;
}

#cookie:hover{
    cursor: pointer;
    transform: scale(1.2);
    animation: flash-pulse 0.333333333s infinite;
    opacity: 1;
}

#cookie:active{
    cursor: pointer;
    transform: scale(0.8);
    animation: none;
    opacity: 0.333333333;
}

/*
#cookie:active:after{
    content: "+1";
    font-size: xx-large;
}
*/

@keyframes pulse {
	0%{
		transform: scale(0.95);
	}
	50%{
		transform: scale(1);
	}
	100%{
		transform: scale(0.95);
	}
}

@keyframes flash-pulse {
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0.75;
    }
    100%{
        opacity: 1;
    }
}